.containerCustomers {
  margin-left: 200px;
  padding: 1px 16px;
}
.container {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 0.8em;
  margin-bottom: 1.5em;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.form label {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.form input {
  margin-bottom: 1em;
  padding: 0.7em;
  max-width: 600px;
  width: 100%;
  border: 0;
}
.form [type="email"] {
  cursor: no-drop;
}
.form [type="submit"] {
  max-width: 600px;
  padding: 1em;
  border-radius: 5px;
  background-color: #181c2e;
  color: #fff;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.form [type="submit"]:hover {
  background-color: #1e2236;
}
