.content {
  margin-left: 200px;
  padding: 1px 16px;
}
.container {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 0.8em;
  margin-bottom: 1.5em;
}
.labelAvatar {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.labelAvatar input {
  display: none;
}
.labelAvatar span {
  z-index: 99;
  position: absolute;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}
.labelAvatar:hover span {
  opacity: 1;
  transform: scale(1.4);
}
.form {
  display: flex;
  flex-direction: column;
}
.form img {
  margin-bottom: 1em;
  border-radius: 50%;
  object-fit: cover;
}
.form label {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.form input {
  margin-bottom: 1em;
  padding: 0.7em;
  max-width: 600px;
  width: 100%;
  border: 0;
}
.form [type="email"] {
  cursor: no-drop;
}
.form [type="submit"] {
  max-width: 600px;
  padding: 1em;
  border-radius: 5px;
  background-color: #181c2e;
  color: #fff;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.form [type="submit"]:hover {
  background-color: #1e2236;
}
.logoutBtn {
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid #121212;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3 ease-in-out;
}
.logoutBtn:hover {
  background-color: #121212;
  color: #fff;
}
@media (max-width: 700px) {
  .content {
    margin-left: 0;
  }
}
